#div_1 {
    height: 200px;
    width: 250px;
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
}

.para {
    text-align: center;
    color: red;
}

.newClass {
    background-color: rgb(54, 251, 54);
    /* text-align: center;
    color: red; */
}